<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-Black.ttf</string>
	</array>
	<key>GIDClientID</key>
	<string>164216613706-3mel3e6m9i06p5vupenv1lbp4mv2r3sj.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vault.vault</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.164216613706-3mel3e6m9i06p5vupenv1lbp4mv2r3sj</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.googleusercontent.apps.164216613706-3mel3e6m9i06p5vupenv1lbp4mv2r3sj</string>
	</array>
</dict>
</plist>
